---
import Layout from '../layouts/Layout.astro'

import { profile} from '@/settings'
import {projects} from '@/data/projects'
import ProfilePictures from '@/assets/images/profile_pictures.jpg'

import Hero from '@/components/ui/Hero.astro'
import Projects from '@/components/ui/Projects.astro'
import Skills from '@/components/ui/Skills.astro'

const { fullName, title, } = profile

---

<Layout title="Solange Ormeno | Web Developer & Portfolio"
description="Hi! I'm Solange — a passionate freelance full-stack web developer building elegant websites and web apps using modern tools.">
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Skills Technologies -->
	<section class="py-6">
		<Skills />
	</section>

	<!-- Projects -->
	<section class='py-6'>
		<Projects title='Projects' projects={projects} />
		
	</section>

	

	<!-- Projects -->

</Layout>
