---
import Layout from '../layouts/Layout.astro'

import { profile} from '@/settings'
import { freelanceWork } from '@/data/freelance'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/images/profile_pictures.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, } = profile

---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Freelance Work -->
	<section class='py-12 border-b'>
		<Grid title='Freelance Work' freelanceWork={freelanceWork} />
	</section>

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Recent Publications' listItems={publications} />
	</section>
</Layout>
