---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import { buttonsIcons } from '@/data/buttonsIcons'
import { projects  } from '@/data/projects'
const { slug } = Astro.params;

export const getStaticPaths = () => {
    return projects.map((card) => ({
      params: { slug: card.slug },
    }));
  };

const card = projects.find((card) => card.slug === slug);

---
<Layout title={`Project | ${card.title} | Solange Ormeno`}>

    <div class="w-full min-h-screen px-6 py-10 flex flex-col items-center gap-10 text-neutral-900 bg-gray-50">
  
      <!-- Icons Buttons  --> 
      <div class="text-xl text-gray-500 flex items-center gap-x-12">
        <!-- Back Button -->
        <a href="#" onclick="event.preventDefault(); history.back()" class="hover:text-black">
          <i class={buttonsIcons[0].back}></i> Back
        </a>
        <!-- GitHub Button -->
        {card.github && (
          <a href={card.github} class="hover:text-black" target="_blank" rel="noopener noreferrer">
            <i class={buttonsIcons[0].github}></i> GitHub
          </a>
        )}

        <!-- Demo Button -->
        {card.url && (
          <a href={card.url}  class="hover:text-black" target="_blank" rel="noopener noreferrer">
            <i class={buttonsIcons[0].demo}></i> Visit Website
          </a>
        )}
      </div>
  
      <!-- Project Title and Description -->
      <h2 class="text-2xl font-bold">{card.title}</h2>
      <p class="text-base text-gray-700">{card.description}</p>
  
    
  
      <!-- ✅ Highlight: Landing Page Full View +  Summary -->
      <div class="grid md:grid-cols-2 gap-6 max-w-6xl w-full">
        <div class="w-full flex justify-center">
            <Image
              src={card.landingPageImage ? card.landingPageImage : card.image}
              alt="Full landing page"
              width={800}
              class={card.landingPageImage ? 'max-h-[800px] w-auto h-auto oobject-contain shadow-lg' : 'w-auto h-auto object-contain'}
              loading="lazy"
              />
          </div>
  
        <div class="space-y-8 md:mt-10">
  
          <!-- Features & Tech -->
          <div class="grid grid-cols-1 gap-10 max-w-4xl w-full mt-10">
  
            <!-- Features -->
            <div>
              <h2 class="text-lg font-semibold mb-3">Features</h2>
              <ul class="list-disc list-inside text-sm space-y-1">
                {card.fullInfo.features.map((f) => <li>{f}</li>)}
              </ul>
            </div>

               <!-- what it does -->
               <div>
                <h2 class="text-lg font-semibold mb-3">What It Does</h2>
                <ul class="list-disc list-inside text-sm space-y-1">
                  {card.fullInfo.whatItDoes.map((f) => <li>{f}</li>)}
                </ul>
              </div>
  
            <!-- Tech -->
            <div>
              <h2 class="text-lg font-semibold mb-3">Technologies</h2>
              <ul class="flex flex-wrap gap-2 text-sm">
                {card.fullInfo.technologies.map((tech) => (
                  <li class="bg-gray-100 px-3 py-1 rounded-full">{tech}</li>
                ))}
              </ul>
            </div>
  
          </div>
  
      </div>
  
  
  
  
    </div>
      <!-- Gallery -->
            {card.gallery?.length > 0 && (
               <h2 class="text-lg font-semibold mb-2">More images </h2>
              <div class="grid grid-cols-2  gap-y-10 gap-x-10 w-full mb-5">
                {card.gallery.map((img) => (
                  <div class="w-full">
                    <Image
                      src={img}
                      alt="Project detail"
                      width={800}
                      class="w-full h-auto shadow-lg"
                      loading="lazy"
                    />
                  </div>
                ))}
              </div>
            )}
  </div>
    
  