---
import FreelanceCard from '@/components/ui/FreelanceCard.astro';

interface Props {
  title: string;
  freelanceWork: {
    id: string;
    title: string;
    image: ImageMetadata;
    slug: string;
    description: string;
    url?: string;
    fullInfo?: {
      summary: string;
      whatItDoes: string[];
      howToUse: string[];
      features: string[];
      technologies: string[];
    };
  }[];
}

const { title, freelanceWork } = Astro.props;
---
<h2 class="text-2xl font-bold mb-8">{title}</h2>

<div>
  <div class="columns-1 md:columns-2 gap-4 space-y-6">
    {freelanceWork.map((card) => (
        <FreelanceCard  title={card.title} image={card.image} slug={card.slug} description={card.description}
        url={card.url} fullInfo={card.fullInfo} key={card.id}
        />
    ))}
  </div>
</div>
